.ideasList {
    --ion-background-color: #fdf5ec;
    // background:linear-gradient(to right,#b47b22,  #804936  );
    border: 3px solid #ffb000;
    font-family: "Comic Sans MS";
    // padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(61, 71, 91, 0.7);
}

.itemName {
    font-family: "Comic Sans MS";
    font-size: 20px;
}

.ideasHeader {
    border: 2px solid #ffb000;
    --ion-background-color: #fad8b0;
    font-family: "Comic Sans MS" !important;
    color: white;
}

.ideasContent {
    border: 2px solid #ffb000;
    font-family: "Comic Sans MS";
}

ion-fab-button {
    --ion-background-color: #fad8b0 !important;
}

ion-title {
    font-family: "Comic Sans MS" !important;
    color: white;
}